/* horizontal slider */
#slider-h {
  background: #f6f6f6;
	border: 1px inset #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
	height: 15px;
	width: 300px;
}

/* vertical knob */
#slider-h div {
  background: #b8d4ff;
  border: 1px outset #659bd8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
	height: 13px;
	width: 6px;
}

/* vertical slider */
#slider-v {
  background: #f6f6f6;
	border: 1px inset #cccccc;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	
  height: 300px;
	width: 15px;
}

/* vertical knob */
#slider-v div {
  background: #b8d4ff;
  border: 1px outset #659bd8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
  height: 8px;
	width: 13px;
}
